@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

/*все*/
.contact-paragraph,
.main-paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68 !important;
}

/*h1*/
.main-header {
    font-size: 64px;
    color: #1F3F68 !important;
}

/*h2 contacts*/
.contact-header {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

/*h3*/
.sub-header {
    font-size: 36px;
    text-align: center;
}

/*h4*/
.contact-subheader,
.subheader {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68 !important;
}

/*стиль для инпута*/
.input-field {
    border: 1px solid #356EAD !important;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

/*стиль для отправки формы */
.submit-button {
    background: #5A98D0 !important;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF !important;
    text-transform: uppercase;
}

/*изображение и стиль для формы*/
.contact-form {
    background-image: url('/src/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    color: white;

}